#thumb-for {background: url("http://static.zooniverse.org/www.snapshotserengeti.org/images/animal-thumbnails-cache-bust.jpg");}

#thumb-for.aardvark        {background-position: -2px -0px;}
#thumb-for.aardwolf        {background-position: -2px -72px;}
#thumb-for.baboon          {background-position: -2px -144px;}
#thumb-for.batearedfox     {background-position: -2px -216px;}
#thumb-for.otherbird       {background-position: -2px -3312px;}
#thumb-for.buffalo         {background-position: -2px -288px;}
#thumb-for.bushbuck        {background-position: -2px -360px;}
#thumb-for.caracal         {background-position: -2px -432px;}
#thumb-for.cheetah         {background-position: -2px -504px;}
#thumb-for.civet           {background-position: -2px -576px;}
#thumb-for.dikdik          {background-position: -2px -648px;}
#thumb-for.eland           {background-position: -2px -720px;}
#thumb-for.elephant        {background-position: -2px -792px;}
#thumb-for.gazellegrants   {background-position: -2px -864px;}
#thumb-for.gazellethomsons {background-position: -2px -936px;}
#thumb-for.genet           {background-position: -2px -1008px;}
#thumb-for.giraffe         {background-position: -2px -1080px;}
#thumb-for.guineafowl      {background-position: -2px -1152px;}
#thumb-for.hare            {background-position: -2px -1224px;}
#thumb-for.hartebeest      {background-position: -2px -1296px;}
#thumb-for.hippopotamus    {background-position: -2px -1368px;}
#thumb-for.honeybadger     {background-position: -2px -1440px;}
#thumb-for.hyenaspotted    {background-position: -2px -1512px;}
#thumb-for.hyenastriped    {background-position: -2px -1584px;}
#thumb-for.impala          {background-position: -2px -1656px;}
#thumb-for.jackal          {background-position: -2px -1728px;}
#thumb-for.koribustard     {background-position: -2px -1800px;}
#thumb-for.leopard         {background-position: -2px -1872px;}
#thumb-for.lionfemale      {background-position: -2px -1944px;}
#thumb-for.lionmale        {background-position: -2px -2016px;}
#thumb-for.mongoose        {background-position: -2px -2088px;}
#thumb-for.ostrich         {background-position: -2px -2160px;}
#thumb-for.porcupine       {background-position: -2px -2232px;}
#thumb-for.reedbuck        {background-position: -2px -2304px;}
#thumb-for.reptiles        {background-position: -2px -2376px;}
#thumb-for.rhinoceros      {background-position: -2px -2448px;}
#thumb-for.rodents         {background-position: -2px -2520px;}
#thumb-for.secretarybird   {background-position: -2px -2592px;}
#thumb-for.serval          {background-position: -2px -2664px;}
#thumb-for.topi            {background-position: -2px -2736px;}
#thumb-for.vervetmonkey    {background-position: -2px -2808px;}
#thumb-for.warthog         {background-position: -2px -2880px;}
#thumb-for.waterbuck       {background-position: -2px -2952px;}
#thumb-for.wildcat         {background-position: -2px -3024px;}
#thumb-for.wildebeest      {background-position: -2px -3096px;}
#thumb-for.zebra           {background-position: -2px -3168px;}
#thumb-for.zorilla         {background-position: -2px -3240px;}
#thumb-for.human           {background-position: -2px -3384px;}
#thumb-for.duiker          {background-position: -2px -3456px;}
#thumb-for.steenbok        {background-position: -2px -3528px;}
#thumb-for.cattle          {background-position: -2px -3600px;}
#thumb-for.bat             {background-position: -2px -3672px;}
#thumb-for.insectspider    {background-position: -2px -3744px;}
#thumb-for.vulture         {background-position: -2px -3816px;}
