div.crowd-classifications {
  img {
    float: left;
    height: 68px;
    overflow: hidden;
    width: 68px;
    background: url("images/animal-thumbnails-cache-bust.jpg");
    background-position: -2px -72px;
  }
}
